/**
Design banner adpia
**/
/*Design mini logo*/
.adpia_banner{
    position: relative;
    /*width: 358px;*/
    /*height: 235px;*/
    overflow: hidden;
}
a.adpia_link{
    height: 18px;
    padding: 0 0 0 30px;
    margin: 0;
    display: block;
    background: url('https://adpia.vn/images/mini_ad.png') no-repeat top left;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    top: 0; right: 0;
    z-index: 9999;
}
span.adpia_bg_hide{
    width: 0;
    height: 18px;
    display: block;
    overflow: hidden;
    color: #fff !important;
    font-size: 8pt !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: arial, tahoma, sans-serif !important;
    text-align: left !important;
}

.adpia_link:hover span.adpia_bg_hide{
    width: 71px;
}

/*end minilogo*/